
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Manrope:wght@400;500&display=swap');
body{
    background-color:rgb(255, 182, 193);
    line-height:1.4;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: none;
}

.conditions .Terms{
    margin-left: -70px;
    margin-top: -20px;

}

.feed-back{
    width:50%;
}


@media screen and (max-width: 769px) {
    body{
        background-color:rgb(255, 182, 193);
        line-height:1.4;
        font-family: 'Lato', sans-serif;
    }

    .conditions .Terms{
     margin-left: -300px;
     padding-bottom: 22px;
    }
 
    input[type="checkbox"]{
     margin-left:-310px;
    }

 .feed-back--hero{
   max-width: 90%;
   margin: 0 auto;
}
   
   .feed-back--hero,
   .sign-up--section{
    width:70%;
   }
}

@media screen and (max-width: 426px) {

    .top-hero--text-section{
        max-width: 95%;
    }

    .laptop-mobile{
        max-width: 280px;
    }

    footer{
        max-width:420px;
    }

    .navbar-right{
       margin-right:-250px; 
    }

    #icon-socials{
        width:75%; 
       } 

    .tab-nav-link,
    #tab-nav-btn,
    #tablet{
        display: none;
    }

    .navbar{
        display: block;
    }

   a:hover,
   a:focus{
    color: black;
    background-color:blue;
   }

   input[type="checkbox"]{
    margin:0 10px;
   }

  .header .Tablet-Navbar-menu .menu .nav-ul {
        display: none;
}
    .phone,
    .icon-social{
        width:320px; 
    }

    .feed-back--hero,
    .sign-up--section{
        width:100%;
       }

    .btn-text{
        display: none;
    }

     
  }

  @media screen and (max-width: 378px) {
    .navbar-right{
        margin-right:-220px;
    }
    .conditions .Terms{
        margin-left: -70px;
        margin-top: -15px;
        
       }
    
       input[type="checkbox"]{
        margin-left:10px;
        margin-top: 2px;
       }
       
       .header .Tablet-Navbar-menu #flex-box {
        display: none;
    }

    .icon-social{
        width:200px; 
    }
   
  }

  @media screen and (max-width: 321px) {
    .navbar-right{
        margin-right:-160px;
    }
    .conditions .Terms{
        margin-left: -50px;
        padding:-5px 10px;
       }
    
       input[type="checkbox"]{
        margin:0 10px;
       }

       .header .Tablet-Navbar-menu #flex-box {
           display: none;
       }

       .phone,
    .icon-social{
        width:300px; 
    }
    
  }
