
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Manrope:wght@400;500&display=swap');

body{
    background-color:rgb(255, 182, 193);
    line-height:1.4;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: none;
}

input{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius:2px;
    padding:10px;
    margin-bottom: 20px;;
}

.conditions .Terms{
    margin-left: -70px;
    margin-top: -20px;

}

input[type="checkbox"]{
    height: 13px;
    margin-left:-75px;
    margin-top: -20px;
   }

button:hover{
   transition: ease-in 2000ms;
   background-color:blanchedalmond;
   color:black;
}

.sign-up{
    margin-top: 30px;
    width:50%;
    height:100%;
    padding:40px;
}

.feed-back{
    margin-top:30px;
    width:50%;
    height:100%;
    padding:20px;
}


@media screen and (max-width: 769px) {
    body{
        background-color:rgb(255, 182, 193);
        line-height:1.4;
        font-family: 'Lato', sans-serif;
    }

    .navbar{
        display: none;
    }
    
    input{
        width: 100%;
        border: 1px solid black;
        border-radius:2px;
        padding:10px;
        margin-bottom: 20px;;
    }
 
    .conditions .Terms{
     margin-left: -300px;
     padding-bottom: 22px;
    }
 
    input[type="checkbox"]{
     margin-left:-310px;
    }
 
   button:hover{
       transition: ease-in 1000ms;
       background-color:blanchedalmond;
       color:black;
   }

   
   .feed-back--hero,
   .sign-up--section{
    width:100%;
   }

   .icon-social{
    width:100%; 
   }
}

@media screen and (max-width: 426px) {
    body{
        background-color:rgb(255, 182, 193);
        line-height:1.4;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        font-family: 'Manrope', sans-serif;
    }

    .tab-nav-link,
    #tab-nav-btn,
    #tablet{
        display: none;
    }

    .navbar{
        display: block;
    }

   a:hover,
   a:focus{
    color: black;
    background-color:blue;
   }

   input{
       width: 100%;
       border: 1px solid black;
       border-radius:2px;
       padding:10px;
       margin-bottom: 20px;;
   }

   .conditions .Terms{
    margin-left: -90px;
    padding: 10px;
   }

   input[type="checkbox"]{
    margin-left:-100px;
   }

  button:hover{
      transition: ease-in 1000ms;
      background-color:blanchedalmond;
      color:black;
  }

  .header .Tablet-Navbar-menu .menu .nav-ul {
        display: none;
}
    .phone,
    .icon-social{
        width:320px; 
    }

    .btn-text{
        display: none;
    }
  }

  @media screen and (max-width: 378px) {
    .conditions .Terms{
        margin-left: -80px;
        margin-top: -15px;
       }
    
       input[type="checkbox"]{
        margin-left:-70px;
        margin-top: -18px;
       }
       
       .header .Tablet-Navbar-menu #flex-box {
        display: none;
    }
  }

  @media screen and (max-width: 321px) {
      .top-hero--text-section p,
      .footer-one p{
          font-size: 12px;
      }

    .conditions .Terms{
        margin-left: -50px;
        padding:-5px 10px;
       }
    
       input[type="checkbox"]{
        margin-left:-50px;
        margin-top: -20px;
       }

       .header .Tablet-Navbar-menu #flex-box {
           display: none;
       }

       .phone,
    .icon-social{
        width:300px; 
    }
    
  }
